@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LIGHT MODE (Default) */
  --bg-app: #f8fafc;
  --bg-surface: #ffffff;
  --bg-surface-hover: #f1f5f9;
  
  --border-color: #e2e8f0;
  --border-hover: #cbd5e1;
  
  --text-primary: #1e293b;
  --text-muted: #64748b;
  
  --accent: #10b981;
  --accent-hover: #059669;
  --accent-light: #ecfdf5;
  
  --danger: #ef4444;
  --danger-light: #fef2f2;
  --warn: #f59e0b;
  --warn-light: #fffbeb;
  --info: #0ea5e9;
  --info-light: #f0f9ff;
}

.dark {
  /* DARK MODE */
  --bg-app: #0f172a;
  --bg-surface: #1e293b;
  --bg-surface-hover: #334155;
  
  --border-color: #334155;
  --border-hover: #475569;
  
  --text-primary: #f8fafc;
  --text-muted: #94a3b8;
  
  --accent: #10b981;
  --accent-hover: #34d399;
  --accent-light: rgba(16, 185, 129, 0.15);
  
  --danger: #ef4444;
  --danger-light: rgba(239, 68, 68, 0.15);
  --warn: #f59e0b;
  --warn-light: rgba(245, 158, 11, 0.15);
  --info: #0ea5e9;
  --info-light: rgba(14, 165, 233, 0.15);
}

.font-mono { letter-spacing: 0.02em; }

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: var(--bg-app); }
::-webkit-scrollbar-thumb { background: var(--border-hover); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--text-muted); }

.leaflet-container { background: var(--bg-surface-hover) !important; }
